/* IMAGE STYLES */
.rounded-circle {
    border-radius: 50%!important;
    vertical-align: middle;
    align-content: center;
}
img {
    vertical-align: middle;
    border-style: none;
    align-content: center;
}

/*  TEXT STYLES */
.lead {
    font-size: 2.15rem;
    font-weight: 300;
    text-align: justify;
    padding-left: 40px;
    padding-right: 40px;
}

#emp_chart {
  text-align: center;
}
#lab_map {
  text-align: center;
}
body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,
    "Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

}


.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
    text-align: center;

}

#map,
body,
html {
  height: 800px;
}

#map2,
body,
html {
  height: 1000px;
}
footer,
html {
  padding: 10x;
  margin: 10x;
}

#tableaucontainer {
  align-content: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#viz {
  align-content: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 800px;
}
.tableauPlaceholder {
  position: relative;
  width: 100%;
}
#navy {
  z-index: +1;
  padding: 10px;
  background: rgb(88, 172, 221);
  color: #f7f2f2;
}
a.navbar-brand {
padding: 10px 16px;
/* background: rgb(149, 153, 152); */
/* color: #f1f1f1; */
font-weight: bold;
margin-left: 10%;
align-content: center;
font-size: 200%;
}
#navbarSupportedContent {
  margin-left: 55%;
  font-size: 180%;
  color: white;
  /* margin-right: 50px; */
}
.navbar-header {
  align-content: right;
}
a.nav-link  {
  margin-left: 5px;
  margin-right: 5px;
  color: white;
}
#circles.row {
  margin-left: 5%;
  margin-right: 5%;
  align-content: center;
}
p.lead {
  font-size: 200%;
  margin-left: 5%;
  margin-right: 5%;
}
img.rounded-circle {
  /* align-content: center; */
  margin: 10%;
  margin-left: 18%;
}
p {
  font-size: 150%;
}
.row {
  align-content: center;
}
h2.featurette-heading {
  font-size: 220%;
  font-weight: bold;
  margin: 2%;
}

#mixedChart {
  align-content: center;
  float: center;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 120%;
}
